/* At the moment Imba do not support several @font-face statements */

@font-face {
    font-family: "Montserrat";
    src: url('assets/montserrat.woff2') format("woff2");
    font-weight: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }